#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=MilPeK
Comment=Program Ekle Kaldır
Icon=/usr/share/icons/milpek.png
Exec=lxqt-sudo milpek
Terminal=false
Categories=System;Settings;Qt;
Keywords=program;kolay;kur;
Name[tr_TR]=MilPeK
